#qna-board .overlap-group {
  // width: px; // 기본 스타일

  @media (max-width: 768px) {
    width: 80%; // 화면 너비가 768px 이하일 때의 스타일
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 60%; // 화면 너비가 769px 이상이고 1024px 이하일 때의 스타일
  }
}

#qna-board .App_wrap-content__1j7ZVa {
  display: flex;
  .rec_center2 {
    margin-right: 100px;
  }
}

// --------------------------

#qna-board {
  display: flex;
  // justify-content: center;
  // align-items: center;
  .createBoard {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 800px;
  }
}
//
#qna-board .overlap .text-wrapper.a34 {
  margin-left: 30px;
  display: inline-block;
  border: 1px solid black;
  // font-size: 12px;
  height: 20px;
}
#qna-board .overlap .text-wrapper.a35 {
  display: block;
  margin-top: 13px;
  // margin-left: 0px;
  font-size: 8px;
  border: 1px solid black;
  width: 75px;
  height: 15px;
}
#qna-board .overlap .contentlocation .text-wrapper.a31 {
  display: block;
  border: 1px solid black;
  height: 20px;
  font-size: 12px;
}
#qna-board .overlap .contentlocation .text-wrapper.a33 {
  display: block;
  border: 1px solid black;
  height: 35px;
  font-size: 25px;
}

#qna-board input {
  display: flex;
  width: 700px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  border: 1px solid orange;
}

// ------------------------

#qna-board .rec {
  justify-content: center;
  align-items: center;
}
#qna-board .content-text-wrapperaa {
  // justify-content: center;
  // align-items: center;
  display: block;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  width: 800px;
  height: 200px;
  border-bottom: 1px solid gray;
  margin-top: 50px;
  .text-wrappera2 {
    margin-top: 23px;
    margin-left: 30px;
    display: block;
    width: 500px;
    height: 35px;
    font-size: 15px;
  }
  .text-wrappera3 {
    margin-left: 30px;
    display: block;
    width: 600px;
    height: 85px;
    font-size: 20px;
  }
}

#qna-board .content-text-wrapperaaa {
  overflow-wrap: break-word;
  margin-top: 50px;
  // justify-content: center;
  // align-items: center;
  display: block;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  width: 800px;
  border-bottom: 1px solid gray;
  // position: relative;
  // border-bottom: gray;
  // padding: 10px;
  overflow-wrap: break-word;
}

#qna-board .overlap .content-text-wrapperaa {
  .aa {
    margin-top: 20px;
    display: inline-flex;
    margin-left: 30px;
    // border: 1px solid red;
    height: 20px;
    .text-wrappera5 {
      font-size: 10px;
      width: 200px;
      margin-bottom: 15px;
      // text-align: center;
      margin-left: 10px;
      margin-top: 1px;
      height: 22px;
    }
    .text-wrappera4 {
      // width: 100px;
      font-size: 12px;
    }

    .text-wrappera20 {
      font-size: 10px;
      // margin-top: 5px;
      margin-left: 10px;
      border: 1px solid red;
    }
    .text-wrappera30 {
      font-size: 10px;
      // margin-top: 5px;
      margin-left: 10px;
    }
  }
  .text-wrappera2 {
    margin-top: 23px;
    margin-left: 30px;
    display: block;
    width: 500px;
    height: 35px;
    font-size: 15px;
  }
  .text-wrappera3 {
    margin-left: 30px;
    display: block;
    width: 750px;
    height: 85px;
    font-size: 20px;
  }
}
#qna-board .aaaaaaa {
  height: 100px;
}

#qna-board {
  height: 100vh;
  .overlap {
    width: 800px;
    // margin-top: 10px;

    .content-text-wrapper00 {
      //display: flex;
      .commenta {
        width: 700px;
      }
      .commentadd1 {
        width: 100px;
      }
    }

    .content-text-wrapperaaa {
      justify-content: center;
      align-items: center;
      // display: inline-flex;
      font-size: 10px;

      .aaa {
        display: flex;
        margin: 0 30px;
        // border: 1px solid red;
        height: 20px;
        border-bottom: 1px solid black;
        .text-wrappera5 {
          font-size: 10px;
          width: 200px;
          margin-bottom: 15px;
          // text-align: center;
          margin-left: 10px;
          margin-top: 1px;
          height: 22px;
        }
        .text-wrappera4 {
          // width: 100px;
          display: inline;
          font-size: 12px;
        }
      }

      .iii {
        float: right;
        width: 120px;
        display: inline-flex;
        margin-top: 5px;
        height: 38.21px;
        margin-right: 5px;

        .btn.btn-primary {
          font-size: 15px;
          margin-right: 10px;
        }
        .btn.btn-danger {
          font-size: 15px;
        }
        .text-wrappera20 {
          // font-size: 10px;
          width: 50px;
          margin-right: 5px;

          //
          border: none;
          display: block;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          outline: none;
          overflow: hidden;
          position: relative;
          color: #fff;
          // font-weight: 700;
          font-size: 15px;
          background-color: #222;
          // padding: 17px 60px;
          margin: 0 auto;
          // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

          span {
            position: relative;
            z-index: 1;
          }
        }
        .text-wrappera20:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 150%;
          width: 140%;
          background: #78c7d2;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
          transform: translateX(-98%) translateY(-25%) rotate(45deg);
        }

        .text-wrappera20:hover:after {
          -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
          transform: translateX(-9%) translateY(-25%) rotate(45deg);
        }

        .link a {
          color: #000;
          font-size: 25px;
        }
        .link {
          font-size: 20px;
          margin-top: 30px;
        }
        // ----------------
        .text-wrappera30 {
          width: 50px;
          margin-left: 5px;
          //   color: red;
          //   background-color: yellow;
          margin-right: 10px;
          // }
          border: none;
          display: block;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          outline: none;
          overflow: hidden;
          position: relative;
          color: rgb(241, 100, 100);
          // font-weight: 700;
          font-size: 15px;
          background-color: #220;
          // padding: 17px 60px;
          margin: 0 auto;
          // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

          span {
            position: relative;
            z-index: 1;
          }
        }
        .text-wrappera30:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 150%;
          width: 140%;
          background: rgb(248, 248, 228);
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
          transform: translateX(-98%) translateY(-25%) rotate(45deg);
        }

        .text-wrappera30:hover:after {
          -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
          transform: translateX(-9%) translateY(-25%) rotate(45deg);
        }

        .link a {
          color: #000;
          font-size: 25px;
        }
        .link {
          font-size: 20px;
          margin-top: 30px;
        }
      }

      .OOO {
        display: inline-flex;
        // border: 1px solid blue;
        width: 800px;
        .lll {
          // border: 1px solid red;
          margin-top: 5px;

          width: 700px;
          // height: 90px;
          .text-wrappera202 {
            margin-left: 30px;
            display: block;
            width: 650px;
            font-size: 13px;
          }
          .text-wrappera302 {
            margin-left: 30px;
            display: block;
            width: 650px;
            height: 75px;
            font-size: 13px;
          }
        }
        // .text-wrappera22 {
        //   display: inline-block;
        //   width: 100px;
        //   height: 115px;
        //   // padding: 10px;
        //   box-sizing: border-box;
        //   border-radius: 10px;
        //   border: none;
        //   border: 1px solid black;
        //   margin-top: 5px;
        //   font-size: 25px;
        // }
        .text-wrappera22 {
          margin-top: 10px;
          position: relative;
          font-size: 20px;
          padding: 0;
          width: 60px;
          height: 100px;

          border: 3px solid #888888;
          outline: none;
          background-color: gray(204, 198, 190, 0.205);
          border-radius: 10px;
          // box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
          // -6px -20px 35px #ffffff, -6px -10px 15px #ffffff,
          //   -20px 0px 30px #ffffff, 6px 20px 25px rgba(0, 0, 0, 0.2);
          transition: 0.13s ease-in-out;
          cursor: pointer;
          &:active {
            box-shadow: none;
            font-size: 15px;
            border: 3px solid #888888;
            .button__content {
              box-shadow: none;
              .button__text,
              .button__icon {
                transform: translate3d(0px, 0px, 0px);
              }
            }
          }
        }
      }
      .text-wrappera2 {
        margin-top: 23px;
        margin-left: 30px;
        display: block;
        width: 500px;
        height: 35px;
        font-size: 15px;
      }
      .text-wrappera3 {
        margin-left: 30px;
        display: block;
        width: 700;
        height: 85px;
        font-size: 20px;
      }
    }
  }
}
// -----------------------

$height: 25;
$depth: 6;
$color: #d8d8d5;
$text-color: darken($color, 10%);
$lighten-on-hover: 7%;
$button-speed: 0.06;
$timing-function: ease-out;

#qna-board .content-text-wrapper1v {
  width: 800px;
  overflow-wrap: break-word;
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  .ieie {
    display: inline-flex;
    width: 450px;
    height: 10px;
    border: 1px solid blue;
  }
  .pqq {
    // border: 1px solid red;
    display: inline-flex;
    float: right;
    height: 20px;
    padding-top: 10px;
    padding-right: 30px;
    .button {
      margin-top: 5px;
      font-size: 12px;
      cursor: pointer;
      margin-left: 5px;
      margin-bottom: 15px;
      // text-shadow: 0 -2px 0 darken($color, 20%), 0 1px 1px lighten($color, 20%);
      box-sizing: border-box;
      // font-size: 2em;
      font-family: Helvetica, Arial, Sans-Serif;
      text-decoration: none;
      font-weight: bold;
      color: $text-color;
      &:visited {
        color: $text-color;
      }
      height: $height + px;
      line-height: $height + px;
      padding: 0 (($height/2) + px);
      display: inline-block;
      width: 50px;
      background: linear-gradient(
        to bottom,
        saturate(lighten($color, 15%), 35%) 0%,
        saturate(lighten($color, 12%), 15%) 26%,
        $color 100%
      );
      border-radius: 5px;
      border-top: 1px solid lighten($color, 22%);
      border-bottom: 1px solid lighten($color, 20%);
      top: 0;
      transition: all ($button-speed + s) $timing-function;
      position: relative;
    }
    .button:hover {
      background: linear-gradient(
        to bottom,
        lighten(saturate(lighten($color, 15%), 35%), $lighten-on-hover) 0%,
        lighten(saturate(lighten($color, 12%), 15%), $lighten-on-hover) 26%,
        lighten($color, $lighten-on-hover) 100%
      );
    }
    .button:active {
      top: $depth + px;
      text-shadow: 0 -2px 0 darken($color, 0%), 0 1px 1px lighten($color, 20%),
        0 0 4px white;
      color: lighten($color, 45%);
      &:before {
        top: 0;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7),
          0 3px 9px rgba(131, 118, 118, 0.2);
      }
    }
    .button:before {
      display: inline-block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      top: ($depth) + px;
      border-radius: 5px;
      height: ($height) + px;
      background: linear-gradient(
        to top,
        saturate(darken($color, 40%), 15%) 0%,
        saturate(darken($color, 25%), 10%) $depth + px
      );
      transition: all (($button-speed * 1.3) + s) $timing-function;
      box-shadow: 0 1px 0 2px rgba(0, 0, 0, 0.3),
        0 5px ($depth * 0.4 + px) rgba(0, 0, 0, 0.5),
        0 ($depth * 1.8 + px) 9px rgba(0, 0, 0, 0.2);
    }
    .text-wrappera15 {
      color: rgb(63, 63, 1);
    }
    .text-wrappera16 {
      margin-left: 15px;
      margin-right: 10px;
      color: rgb(245, 74, 74);
    }
  }
  .vvoo {
    display: inline-flex;
    // border: 1px solid red;
    height: 20px;
    margin-left: 30px;
    margin-top: 5px;
  }
}
#qna-board .iww {
  border: 0.1px solid white;
  .changeComment {
    display: inline-flex;
    width: 500px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .ffi {
    margin-top: 5px;
    font-size: 15px;
    // float: right;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e2dddd(204, 198, 190, 0.205);
    border: 1px solid gray;
  }
}
#qna-board .text-wrappera33 {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

#qna-board .detail-header {
  padding: 5px 30px 0px;
  display: flex;
  justify-content: space-between;
}

#qna-board .detail-title {
  font-size: 30px;
}

// -------------
// #qna-board .side2 {
//   position: relative;
//   padding: 30px;
//   // color: #000;
//   // background-color: red;
//   justify-content: center;
//   align-items: center;

//   .sidebar2 {
//     // background-color: red;
//     .sidebar-item2 {
//       color: #000;
//       border-radius: 10px;
//       background-color: rgba(116, 99, 99, 0.205);
//       font-size: 16px;
//       width: 200px;
//       padding: 3px 10px;
//       margin: 5px 0px;
//       position: relative;
//       text-align: center;
//       text-decoration: none;
//       &:hover {
//         background-color: rgba(75, 62, 62, 0.507);
//       }
//     }
//   }
// }
