#donationBoard {
    display: flex;
    width: 100%;
    height: 100%;

    .detailBoard{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .warp-content {
        display: flex;
        width: 80%;
        margin: 10px;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .detailBox {
        width: 70%;
        height: 100%;
        background-color: white;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
    }

    .userIdBox {
        position: relative;
        top: 10px;
        left: 3%;
        width: 60%;
        text-align: left;
    }
    .userIdBox p:last-child {
        font-size: 10px;
    }

    .titleBox,
    .detailContentBox {
        text-align: left;
        margin: 26px 26px 0 26px;
    }
    
    .titleBox {
        flex-shrink: 0;
        font-size: 30px;

        display: flex;
        justify-content: space-between;
    }

    .imageBox {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        width: 90%;
        will-change: transform;

        margin: 26px 26px 0 26px;
        padding: 26px 26px 0 26px;
    }
    .imageBox::-webkit-scrollbar{ display: none; }

    .imageBox .imageList {
        width: 250px;
        height: 350px;
        margin-right: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            object-fit: contain;
        }
        .img1 {
            width: 250px;
        }
        .img2 {
            height: 350px;
        }
        .img3 {
            width: 250px;
            height: 250px;
        }
    }
    .imageBox .imageList:last-child {
        margin-right: 0;
    }
    

    .commentBtn {
        position: relative;
        top: 15%;
        right: 0%;

        font-size: 15px;
        width: 100px;
        height: 30px;

        cursor: pointer;

        display: flex;
        justify-content: space-between;

        transition: transform 0.3s, box-shadow 0.3s;
    }

    .commentBtn:hover {
        transform: scale(1.0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .commentCount {
        position: relative;
        top: 0;
        left: 0;

        height: 100%;
        line-height: 30px;
        margin-left: 10px;
    }

    .rotateBtn {
        position: relative;
        top: 0;
        right: 0;

        width: 30px;
        height: 30px;

        font-size: 20px;
        text-align: center;
        transition: transform 0.3s ease;
    }

    .boundaryLine {
        border-top: solid 1px silver;
        margin: 30px 26px 0 26px;
    }

    .commentList {
        margin: 0 26px 26px 26px;
        padding: 26px 0 0 0;

        flex-grow: 1;
    }

    .commentInput {
        width: 100%;

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);

        display: flex;
        justify-content: space-between;

        margin-top: 26px;
    }
    .comment-input {
        border: none;
        outline: none;
        resize: none;

        width: 100%;
        
        padding: 10px;
    }

    .comment-submit {
        display: none;
    }

    .comments {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);

        .comment-top {
            display: flex;
            justify-content: space-between;
            align-items: end;

            .comment-title {
                display: flex;
                justify-content: left;
                align-items: end;

                .comment-id {
                    font-size: 15px;
                    padding: 5px 5px 5px 10px;
                }
        
                .comment-date {
                    font-size: 12px;
                    padding: 5px;
                    height: 100%;
                    vertical-align: 50px;
                }
            }

            .comment-delete img{
                position: relative;
                top: 20%;
                right: 40%;

                cursor: pointer;
                transition: transform 0.3s, box-shadow 0.3s;
            }
            .comment-delete img:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }

        .comment-content {
            padding: 0 10px 5px 10px;
            font-size: 13px;
        }

    }

    .Btn {
        position: absolute;
        top: 21px;
        right: 32%;
        display: flex;
    }

    .prevBtn {
        position: relative;

        border: 1px solid silver;
        width: 75px;
        padding: 5px 0;
        border-radius: 10px;

        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .prevBtn:hover {
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .prevBtn img {
        width: 20px;
        margin-right: 6px;
        margin-left: 8px;

        vertical-align: middle;
    }

    .deleteBtn {
        position: relative;

        border: 1px solid silver;
        width: 75px;
        padding: 5px 0;
        margin-left: 10px;
        border-radius: 10px;

        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;
    }      
    .deleteBtn:hover {
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .deleteBtn img {
        width: 20px;
        margin-right: 6px;
        margin-left: 8px;

        vertical-align: middle;
    }

    .refusBtn {
        position: relative;

        border: 1px solid silver;
        width: 75px;
        padding: 5px 0;
        border-radius: 10px;

        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .refusBtn:hover {
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    }
    .refusBtn img {
        width: 20px;
        margin-right: 6px;
        margin-left: 8px;

        vertical-align: middle;
    }

    .approvBtn {
        position: relative;

        border: 1px solid silver;
        width: 75px;
        padding: 5px 0;
        margin-left: 10px;
        border-radius: 10px;

        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;
    }      
    .approvBtn:hover {
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(0, 128, 0, 0.2);
    }
    .approvBtn img {
        width: 20px;
        margin-right: 6px;
        margin-left: 8px;

        vertical-align: middle;
    }
    
    .ApproBtn {
        position: absolute;
        top: 21px;
        right: 32%;
        display: flex;

        .refusBtn {
            position: relative;
    
            border: 1px solid silver;
            width: 75px;
            padding: 5px 0;
            margin-left: 10px;
            border-radius: 10px;
    
            cursor: pointer;
            transition: transform 0.3s, box-shadow 0.3s;
        }   
    }
}

body {
    overflow-y: scroll;
}
