#warp-side {
    display: flex;
    width: 100%;
}
.contentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .ContentBox a {
    text-decoration: 'none';
  }
  .rec_center {
    justify-content: flex-start;
    height: 50vh;
  }
  