.chat-box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 30px;
    margin-left: 10px;
    height: 100%;
}

.overlap-group {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
}

.chat-message {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.6) 0%, rgba(217, 217, 217, 0.6) 100%);
    border-radius: 10px;
}

.chat-message-header {
    display: flex;
    padding: 10px 0px;
    color: #5e5e5e;

    div {
        display: inline;
        font-family: "Inter", Helvetica;
        font-size: 15px;
        font-weight: 400;
    }
}

.time-information-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;



    button {
        display: flex;
        justify-content: center;

        height: 24px;
        background-color: transparent;
        border: 0;

        div {
            display: inline;
            font-family: "Inter", Helvetica;
            font-size: 15px;
            font-weight: 400;
        }

        img {
            padding: 1px;
        }
    }

}

.chatting-header-icon {
    height: 20px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

.chat-input {
    flex: 1;
    margin: 5px 0px;

    form {
        width: 100%;
    }

    input {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        background-color: transparent;
        border: 0;

        &:focus {
            border: 0;
            outline: none;
        }
    }
}

.chat-info {
    width: 45%;
    padding: 10px;
    
    p {
        display: inline;
    }

    div {
        p {
            display: inline;
        }
        img {
            vertical-align: middle;
            display: inline-block;
        }
    }
}

.chat-message-box {
    flex: 100;
    width: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.time-notification {
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: content-box;
}

.time-notification-close {
    position: absolute;
    top: 5px;
    right: 5px;

    background-color: transparent;
    border: 0;
}