.side {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.room-list {
    overflow-y: scroll;
    min-height: 96%;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.side-header {
    p {
        margin-left: 1px;
        width: 280px;
        text-align: center;
        background-color: white;
        color: black;
        border-radius: 5px;
    }
}