// RecipePage.scss
.warp-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recipe-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;

  // perspective: 1000px;
  overflow: hidden;
}

// 왼편
.recipe-page__left {
  width: 700px;
  height: 900px;
  // flex: 1;
  padding: 20px;
  height: 100%;

  // z-index: 1;
  // transform-origin: left center;
  // transition-duration: 1s;
  // transition-timing-function: ease-in;
  // 클릭 시
  // transform: rotateY(-180deg);
  // opacity: 0.4;
  transition: transform 0.3s ease;
  transform-origin: left center;
  transform-style: preserve-3d;
}

.recipe-page__image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.recipe-page__title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
.recipe-page__tag {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.recipe-page__way {
  margin-top: 20px;
}
.recipe-page__tip {
  margin-top: 20px;
}

// 오른편
.recipe-page__right {
  width: 700px;
  height: 900px;
  // flex: 1;
  padding: 20px;
  height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), -2px 0 2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 50px;
  // z-index: 0;

  transition: transform 0.3s ease;
  transform-origin: left center;
  transform-style: preserve-3d;
}

.recipe-page__section-title {
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
}
.li {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: none;
}

.recipe-page__ingredient-list,
.recipe-page__instructions {
  margin-top: 10px;
  padding-left: 20px;
}

.recipe-page__section-title2,
.recipe-page__instructions2 {
}

.recipe-page__ingredient-list li,
.recipe-page__instructions li {
  margin-bottom: 5px;
}

.recipe-page__image_way {
  width: 100%; /* 원하는 가로 크기로 설정 */
  height: auto; /* 세로 크기는 가로 크기에 맞게 자동 조정됩니다 */
  max-width: 400px; /* 사진의 최대 가로 크기를 지정합니다 */
  object-fit: cover; /* 사진이 컨테이너에 꽉 차도록 설정합니다 */
}

// 페이지네이션

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 5px;
}

.pagination-buttons a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  text-align: right;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-buttons a:hover {
  color: #f3ede8;
  transform: scaleX(0.7);
  transform: scaleX(0.7);
}

.prev {
  // 이전 페이지
  display: flex;
  align-items: center;
  text-align: left;

  bottom: 0;
  left: 0;
  margin-bottom: auto;
}

.next {
  // 다음 페이지
  display: flex;
  align-items: flex-end;
  text-align: right;
  margin-bottom: auto;
}

.prev a {
  /* 이전 페이지 버튼 스타일 */
  margin-right: auto;
  display: inline-block;
  margin-bottom: auto;
}

.next a {
  /* 다음 페이지 버튼 스타일 */
  margin-left: auto;
  display: inline-block;
  margin-bottom: auto;
}
