.not-sidebar {
  flex-direction: row;
}
.warp-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
}

.warp-content {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.warp-side {
  display: flex;
  width: 100%;
}

.wrap_title_name {
  font-size: 26px;
  text-align: left;
  
  position: absolute;
  top: 8.5%;
  left: 23.5%;
}

