.recipe-content{
  display: flex;
}

.ContentBox {
  display: flex;
  flex-wrap: wrap;
}

.ContentBox a {
  text-decoration: 'none';
}
.rec_center {
  justify-content: flex-start;
  height: 50vh;
}

.warp-content {
  width: 100%;
}

.warp-side {
  display: flex;
  width: 100%;
}