// home1 텍스트 애니메이션
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel-caption.animated-text {
  animation: fadeIn 5s;
}

.text-title {
  font-size: 80px;
  font-weight: 700;
  position: relative;
  margin-bottom: 15px;
}
.span {
  font-weight: 500;
  
  line-height: 2;
  // margin-bottom: 0.5rem;
  margin-top: 100px;
}

.seoul-solo-service {
  width: 650px;
  text-align: left;
}

.Home-minImg {
  object-fit: cover; /*이미지가 비율을 유지하며 화면 전체를 채우도록 설정*/
  height: 100%; /*이미지를 화면 전체 높이로 설정*/
  width: 100%; /*이미지를 화면 전체 너비로 설정*/
}