.chatting-modal {
    background-color: transparent;
    border-radius: 50px;
    position: sticky;
    right: 10px;
    bottom: 10px;
    z-index: 100;

    > {
        button {
            position: fixed;
            right: 10px;
            bottom: 10px;
            background: transparent;
            border: none;
            filter: invert(100%);
        }
    }
}

.chat-modal {
    height: 500px;
    width: 570px;
    position: absolute;
    right: 50px;
    bottom: 80px;
}